{% extends 'base.html' %} {% load static %} {% block title %}Reset Password -
The Cookie Barrel{% endblock %} {% block content %}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <div class="breadcrumb-text">
          <p>Account Recovery</p>
          <h1>Reset Password</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- login form -->
<div class="mt-150 mb-150">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-8 mb-5 mb-lg-0 text-center p-4 shadow-sm border rounded"
      >
        <div class="form-title">
          <h2>Set New Password</h2>
          <p>Please enter and confirm your new password below.</p>
        </div>
        <div id="login_signup_form_status"></div>
        <div class="login-signup-form">
          <form
            method="POST"
            action="{% url 'reset_password' %}"
            onSubmit="return valid_reset_password( this );"
          >
            {% csrf_token %}
            <p>
              <input type="text" name="otp" placeholder="OTP" id="otp" />
            </p>
            <p>
              <input
                type="password"
                name="new_password1"
                placeholder="New Password"
                id="new_password1"
              />
            </p>
            <p>
              <input
                type="password"
                name="new_password2"
                placeholder="Confirm New Password"
                id="new_password2"
              />
            </p>
            <p>
              <input
                type="submit"
                class="custom-btn"
                value="Reset Password"
                style="width: 30%"
              />
            </p>
          </form>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="contact-form-wrap">
          <div class="contact-form-box">
            <h4><i class="fas fa-map"></i> Shop Address</h4>
            <p>123 Cookie Lane<br />Sweet City, Pakistan</p>
          </div>
          <div class="contact-form-box">
            <h4><i class="far fa-clock"></i> Hours</h4>
            <p>
              Monday – Friday: 9:00 – 22:00<br />Saturday - Sunday: 10:00 –
              23:00
            </p>
          </div>
          <div class="contact-form-box">
            <h4><i class="fas fa-address-book"></i> Contact Info</h4>
            <p>Phone: +92 300 0000000<br />Email: support@thecookiebarrel.pk</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
